/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9DB2BF;
  color: #27374D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr{
  display:block;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), 
  color-stop(50%, #526D82));
  height: 3px;
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  

}

#header {
  background-color: #27374D;
  color: #F97B22;
  font-family: monospace;
}

/* contact button styling */
#contactBtn, #emailSubmit {
  background-color: #FDA769;
  color: #27374D;
  border: #27374D 3px solid;
}

#contactBtn:hover, #emailSubmit:hover{
  border: 3px solid #FDA769;
  background-color: #526D82;
  color: white;
  cursor: pointer;
}

#landing{
  margin-bottom: 25px;
}

/* name styling */

#name {
  position: relative;
  /* outline: 2px solid red; */
  width: max-content;
  color: #FDA769;
}

#name::before,
#name::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* 
#name::before {
  background-color: #9DB2BF;
  animation: 
    typewriter 3s steps(13) 1s forwards;
}

#name::after {
  width: 0.10em;
  background-color: #526D82;
  animation: typewriter 3s steps(13) 1s forwards, 
    blink 500ms steps(13) infinite alternate;
} */

@keyframes typewriter{
  to {
     left: 100%; 
     animation-iteration-count: 1;
    }
}

@keyframes blink {
  to {
    background: transparent;
  }
} 

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
    animation-iteration-count: 1;
  }
}

@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(-1);
    animation-iteration-count: 1;
  }
}
/* 
#intro {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInDown 2s ease forwards;
} */

/* #fullStack, #bio, #contactBtn, #header, #projectSection, #socials, #contactForm, #footer, hr{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s ease forwards;
  animation-delay: 4s;
} */

/* @media (min-width: 200px){

  #memoji{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 2s ease forwards;
    animation-delay: 4s;
  }
} */

/* @media (max-width: 820px) {
#name::before,
#name::after,
#intro,
#fullStack,
#bio,
#contactBtn,
#header,
#memoji,
#projectSection,
#socials,
#contactForm,
#footer,hr{
    animation: none;
    opacity: 1;
}
} */

#name{
  margin-right: 30px;
}


@media (max-width: 820px) {
  #name::before,
  #name::after {
    display: none;
  }
  #name {
    max-width: fit-content;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 4.5em;
  }
  #bio {
    max-width: fit-content;
  }
  #header{
    margin-top: -20px;
  }
}

@media (min-width: 821px) {
  #bio {
    max-width: 50%;
  }
}


/* nav links */
.navbar {
  border-bottom: 1px solid #BBBBBB;
}

.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #9DB2BF;
  padding: 10px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 1;
}

.nav-link:hover {
  color: #FDA769;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #9DB2BF;
  border-radius: 5px;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 5px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

#headerlogo {
  height: 40px;
}

#footerlogo {
  height: 40px;
}

#memoji {
  width: 300px;
  height: 300px;
  float: right;
  border-radius: 50%;
  margin-right: 75px;
  margin-top: 50px;
}

@media (max-width: 1170px) {
  #memoji {
    display: none;
  }
}

/* project cards */
#project{
  background-color: #27374D;
  color: #FDA769;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  transition: 0.1s ease-in-out;
  font-family: monospace;
  perspective: 10px;
}

#project img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

hr {
  margin-bottom: 50px;
}

#projectSection a {
  color: #BBBBBB;
  border: #BBBBBB 2px solid;
}

#projectSection a:hover{
  border: 2px solid #FDA769;
  background-color: #526D82;
  color: #FDA769;
}

#projectSection{
  margin-bottom: 50px;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #3c3a3a;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal-content {
  width: 500px;
  background-color: white;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.modal.show{
  opacity: 1;
  pointer-events: visible;
}

.modal.show .modal-content {
  transform: translateY(0);
}

#description:hover{
  cursor: pointer;
}

@media (min-width: 1060px){
  #contactDiv{
    display: flex;
    padding-left: 20px;
  }
}

#socials img{
  width: 40px;
  height: 40px;
}

#input{
  background-color: #526D82;
  color: #BBBBBB;
  border: #27374D;
}

.footer {
  background-color: #27374D;
  color: #FDA769;
  width: 100%;;
}

.footer div {
  width: 100%;
}

#footer {
  margin-top: 50px;
}

html{scroll-behavior:smooth}

@media (max-width:700px){
#footerh1{
  display: none;
}
#footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
}

@media (max-width:500px){
  #logo{
    width: 50px;
    height: 30px;
  }
}

#projectSection {
  margin-bottom: 100px;
}

#projecth1, #skillsh1{
  font-family: monospace;
  color: #27374D;
  margin-bottom: 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: xx-large
}

#contacth1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  color: #FDA769;
  text-decoration: none;
  font-weight: bold;
  font-size: xx-large

}

#project{
  transform: scale(0.8);
  margin-bottom: -100px;
  background-color: #27374D;
}

@media (max-width: 764px) {
  #project{
    transform: scale(.7);
  }
  #projecth1{
    margin-bottom: -50px;
  }
}

@media (min-width: 765px) {
  #project{
    margin-bottom: -50px;
  }
}

#githublogo{
  width: 50px;
  height: 50px;
  margin-right: 10px;;
}

#githubA{
  background-color: #526D82;
}

#skillsSection img {
  width: 100px;
  height: 100px;
  margin: 10px;
}

#card {
  background-color: #27374D;
}

#card h3 {
  color: #9DB2BF;
}

#skillsSection{
  margin-bottom: 50px
}

@media (max-width: 1536px) {
  #skillsSection {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 756px) {
  #skillsSection {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 600px) {
  #skillsSection {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 400px) {
  #skillsSection {
    grid-template-columns: 1fr 1fr;
  }
  #skillsSection h3{
  font-size: large;
  }
  #emailForm{
    width: 80%;
  }
  body{
    width: 100%;
  }
  #headerlogo, #footerlogo{
    display: none;
  }
  #footer{

  }
  #navLinks{
    display: block;
    justify-content: center;
    margin: auto;
  }
  #header{
    margin-top: 0px;
  }
  #intro{
    margin-bottom: -20px;
  }
  #name{
    margin-bottom: 15px;
  }
  #skillsh1{
    margin-top: -20px;
    margin-bottom: 30px;
  }
  #projecth1{
    margin-bottom: -35px;
  }
}

